html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

th, td{
  padding: 10px;
}

table.front-page{
  position: relative;
  display: inline-block;
  padding: 1%;
  width: 400;
  height: 300;
  border-width: 1px;
  border-style: solid;
  background-color: black;
}

button{
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
}

footer{
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1.welcome-page{
  display: flex;
  justify-content: center;
  background-color: black;
}

.welcome{
  background-image: url("pokemonwallpaper.jpg");
  background-size: cover;
}

.centering{
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
}

.pokepages{
  background-color: black;
  width:auto;
  max-width: 50%;
}